<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://media.istockphoto.com/id/692999494/es/foto/peluquer%C3%ADa-corte-algunos-consejos-para-el-cabello.jpg?s=612x612&w=0&k=20&c=ZQK8JtvxpivNsTYmJnJfDh-52wgwIiGkBiPHDtIQQXA=" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://media.istockphoto.com/id/640274128/es/foto/barbero-usando-tijeras-y-peine.jpg?s=612x612&w=0&k=20&c=auAw5KKIYSD9QTcztggDPHOHnY68bRtgHnGCslTlmcs=" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://media.istockphoto.com/id/1153438285/es/foto/mujer-en-el-sal%C3%B3n-de-peluquer%C3%ADa.jpg?s=612x612&w=0&k=20&c=jCC2IIoOcL4y_ANRGLW59t8ZxCXXB982sTZsHfwFLgk=" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>